@CHARSET "ISO-8859-1";
input[type=text], input[type=password] {
    width: 30%;
    padding: 06px 15px;
    margin: 4px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-family: Calibri;
}

input[type=submit] {
    background-color: #8080ff;
    color: white;
    padding: 06px 10px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    margin-left:200px;
    margin-right:20px;
    font-family: Calibri;
}
input[type=reset] {
    background-color: #8080ff;
    color: white;
    padding: 06px 10px;
    margin: 4px 0;
    border: none;
    cursor: pointer;
    font-family: Calibri;
}
button:hover {
    opacity: 0.8;
     
}


.imgcontainer {
    text-align: center;
    margin: 10px 0 05px 0;
}

img.avatar {
    width: 30%;
    
}


span.psw {
    float: right;
    padding-top: 8px;
}

/ Change styles for span and cancel button on extra small screens /
@media screen and (max-width: 150px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 50%;
    }
}
body{
background-color:#ffffff;
font-family: Calibri;
}

form {
 margin-top: 30px;
}
h2{
	margin-top: 40px;
	padding-bottom:20px;
	color:blue;
	font-family: Calibri;}
}
h1{
	margin-top: 40px;
	padding-bottom:20px;
	color:black;
	font-family:Calibri;
}
a {
font-family: Calibri;
  word-wrap: normal;
  display: inline-block;
  padding-top:10px;
  padding-right:10px;
  font-size:25px;
}
th{
	font-family: Calibri;
}
